a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

body {
  background-color: #f4f5f6;
  color: #333;
  font-family: Arial, Helvetica, sans-serif
}

header {
  z-index: 5;
}

nav::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 100px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

nav a {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
  border-right: #aaa 1px solid;
}

nav ul li:last-of-type a {
  border-right: none;
}

nav a:hover {
  color: #f72210;
}

.no-border {
  border: none;
}

.container-fluid, .container {
  max-width: 1310px;
}

.red-header {
  height: 95px;
  padding: 20px 10px 15px;
  background-color: #f72210;
  position: relative;
}

.red-header svg {
  fill: white;
}

.red-header-content {
  position: absolute;
  bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.red-header-content date{
  color: white;
}

.sign-in-button {
  color: white;
  padding: 6px 10px 6px 12px;
}

.subscribe-button {
  background-color: white;
  color: #f72210;
  padding: 6px 10px 6px 12px;
}

.subscribe-button svg {
  width: 8px;
  height: auto;
  fill: #f72210;
  padding-bottom: 4px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 396px;
  height: 60px;
  padding: 10px 0; 
  margin: 10px auto;
  transform: translate(-50%, 0);
}

.white-header {
  background-color: white;
  border-bottom: solid 1px #f4f5f6;
}

.search-button {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
}