a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 a {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

h2 a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #f72210;
}

h3,
h3 a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 700;
  color: rgba(3, 3, 3, 0.4)
}

body {
  background-color: #f4f5f6;
  color: #333;
  font-family: Arial, Helvetica, sans-serif
}

header {
  z-index: 5;
}

nav::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 100px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

nav a {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
  border-right: #aaa 1px solid;
}

nav ul li:last-of-type a {
  border-right: none;
}

nav a:hover {
  color: #f72210;
}

.white-bg {
  background: white;
}

.no-border {
  border: none;
}

.container-fluid,
.container {
  max-width: 1310px;
}

.scroll-overflow-container {
  overflow: hidden;
}

.scroll-overflow {
  overflow-y: auto;
  padding-right: 15px;
}

.red-header {
  height: 95px;
  padding: 20px 10px 15px;
  background-color: #f72210;
  position: relative;
}

.red-header svg {
  fill: white;
}

.red-header-content {
  position: absolute;
  bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.red-header-content date {
  color: white;
}

.sign-in-button {
  color: white;
  padding: 6px 10px 6px 12px;
}

.sign-in-button:hover {
  text-decoration: none;
  color: white;
}

.menu-icon {
  display: none;
}

.subscribe-button {
  background-color: white;
  color: #f72210;
  padding: 6px 10px 6px 12px;
}

.subscribe-button:hover {
  text-decoration: none;
  color: #f72210;
}

.subscribe-button svg {
  width: 8px;
  height: auto;
  fill: #f72210;
  padding-bottom: 4px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 396px;
  height: 60px;
  padding: 10px 0;
  margin: 10px auto;
  transform: translate(-50%, 0);
}

.white-header {
  background-color: white;
  border-bottom: solid 1px #f4f5f6;
}

.search-button::before {
  font-family: "Material Icons";
  content: '\e8b6';
}

.search-button input {
  width: 100%;
}

.story img {
  width: 100%;
  height: auto;
}

.position-relative {
  position: relative;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 0;
}

.n-icon {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
  background-size: cover;
}

.newsletter-signup-font {
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.newsletter-signup-container {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
}

.newsletter-signup-container a:first-of-type {
  width: 100px;
  padding: 10px 10px 10px 12px;
  color: white;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  background-color: #666;
  color: white;
}

.newsletter-signup-container a:hover {
  color: white;
  background-color: #999;
  text-decoration: none;
}

.newsletter-signup-container a:last-of-type {
  color: #333;
  font: bold 15px/15px "Roboto Condensed", sans-serif;
}

.newsletter-signup-container a svg {
  width: 8px;
  height: auto;
  fill: white;
  padding-bottom: 4px;
}

.category {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .9);
  padding: 8px 15px 3px;
}

.category a {
  color: #f72210;
  text-decoration: none;
}

.related {
  font: bold 16px/20px "Roboto Condensed", sans-serif;
  color: black;
  margin-top: 16px;
  padding: 0;
}

.related li {
  border-top: 1px solid #d9d9d9;
  padding: 10px 0;
  margin: 0;
  list-style-type: none;
}

.related li:last-of-type {
  border-bottom: 1px solid #d9d9d9;
}

.related li a {
  color: black;
}

.related li a:hover {
  color: #f72210;
  text-decoration: none;
}

.culture-travel {
  background-color: #f4f5f6;
}

.culture-travel h2 {
  line-height: 0em;
}

.culture-travel h2 a {
  font-family: 'Lora', serif;
  color: #333;
  font-weight: 400;
  font-size: 20px;
  font-stretch: 100%;
  line-height: normal;
}

.culture-travel h2 a:hover {
  text-decoration: none;
}

.culture-travel p {
  color: rgba(39, 39, 39, .5);
}

.tag a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #272727;
  font-weight: 400;
  display: inline-block;
  background-color: #c2d4d7;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.tag a:hover {
  text-decoration: none;
  background-color: #303536;
  color: #c2d4d7;
}

.other-story-info h2 {
  line-height: 0.5em;
}

.other-story-info h2 a {
  font-size: 17px;
}

.other-story img {
  width: 135px;
  height: auto;
}

.more-stories-spacer {
  display: none;
}

.opinion {
  height: 78px;
  overflow: hidden;
}

.opinion h2 {
  line-height: 0.5em;
}

.opinion h2 a {
  font-size: 15px;
}

.opinion h2 a:hover {
  text-decoration: none;
  color: #f72210;
}

.opinion h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #555;
}

.latest-news img {
  width: 135px;
  height: auto;
}

.latest-news h2 {
  line-height: 0.5em;
}

.latest-news h2 a {
  font-size: 17px;
}

.latest-news h2 a:hover {
  text-decoration: none;
  color: #f72210;
}

.border-bottom-spacer {
  display: none;
}

.magazine-features a {
  color: black;
  background-color: #f4f5f6;
  text-align: center;
}

.magazine-features a:hover {
  text-decoration: none;
  background-color: #aaa;
}

.magazine-features svg {
  width: 8px;
  height: auto;
  padding-bottom: 4px;
}

@media screen and (max-width: 1250px) {
  nav a {
    font-size: 14px;
  }

  .latest-news {
    height: 80px;
    overflow: hidden;
  }

  .latest-news img {
    width: 100px;
    height: auto;
  }

  .latest-news h2 {
    line-height: 0.3em;
  }

  .latest-news h2 a {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .red-header {
    height: 50px;
  }

  .red-header-content date {
    display: none;
  }

  .white-header {
    display: none;
  }

  .header-logo {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 132px;
    height: auto;
    padding: 0;
    margin: 0;
    transform: translate(0, 0);
  }

  .sign-in-button {
    position: absolute;
    top: -17px;
    right: 200px;
  }

  .subscribe-button {
    position: absolute;
    top: -19px;
    right: 84px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    width: 44px;
    top: -22px;
    right: 22px;
  }

  .menu-icon svg rect {
    fill: #fb9a94;
  }

  .latest-news {
    height: auto;
  }

  .latest-news h2 {
    line-height: 0.5em;
  }

  .latest-news h2 a {
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  .other-story img {
    width: 258px;
  }

  .border-bottom-spacer {
    display: block;
  }

  .latest-news img {
    width: 258px;
    height: auto;
  }
}